/*記事7*/
/* ~ サイト下のナビ ~ */
#bottom_navi {
  display: block;
  position: absolute;
  bottom: 237px;
  width: 100%;
  max-width: 100%;
  padding: 10px 20px 20px;
  background: rgba(255,255,255,0.9);
  z-index: 9999;
}

#bottom_navi .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-width: 960px;
  margin: auto;
}

#bottom_navi .btn_link{
  padding: 10px;
  display: flex;

}
