/*記事1*/
/* ~コンセプト紹介 ~ */

#concept {
    z-index: 1;
    position: relative;
    height: 850px;
    max-width: 890px;
    padding: 250px 15px 0;
    left: 100px;
    margin: 0 auto;
}

#concept .img {
    z-index: 3;
    position: relative;
    display: inline-block;
    width: 80%;
}

#concept .catch_phrase {
    z-index: 5;
    position: absolute;
    top: 200px;
    left: -80px;
}

#concept .catch_phrase h2{
    font-size: 3.5rem;
    letter-spacing: 36px;
    text-shadow: 0 0 60px #ffffff, 0 0 60px #ffffff, 0 0 60px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
    line-height: 150%;
}

#concept .explanation {
    z-index: 7;
    position: relative;
    width: 61%;
    margin-top: -19%;
    margin-left: -19%;
    padding: 2rem;
    background: #e9f5f7;

    background: #DEFFDE;
    background: #e6ffe6;

    background: #66cdaa;
    background: #CFFFCF;
        background: #ebffeb;

}

#concept .explanation h3 {
    letter-spacing: 10px;
    margin-right: -30px;
    text-align: right;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: inherit;
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

#concept .explanation p {
    letter-spacing: 10px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

#concept .explanation a {
    background-color: #fff;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
}
