/*記事6*/
/* ~ 店舗情報 ~ */

#location {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 180px;
}

#location .section_title {
    margin-bottom: 70px;
}

#location .content {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 450px 450px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#location .infomation {
    height: 700px;
}

#location ul {
    padding: 0 5%;
    letter-spacing: 7px;
    list-style: none;
}

#location .button03 a {
    background-color: #ecf8fa;
    margin-top: 55px;
}
