@charset "UTF-8";

footer {
  background-color: #d8eff4;
  color: #666;
  text-align: center;
  padding: 2rem 0 1rem;
  position: relative;
}

.footer_tel {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  line-height: 1.3;
}

.footer_tel span {
  font-size: 1.5rem;
}

.footer_tel .tel1 {
  font-size: 3.5rem;
}

.footer_time {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  list-style: none;
}

.footer_time li+li {
  margin-left: 2rem;
}

.sns_items {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  list-style: none;
}

.copyright {
  font-size: 1rem;
  letter-spacing: 0.5rem;
}
