@charset "UTF-8";

.f_logo {
  width: 450px;
  height: 200px;
  text-align: center;
}

#footer_top {
  display: block;
  width: 1250px;
  padding: 30px 0;
  text-align: center;

}

#footer_logo p {
  display: block;
  width: 1250px;
  height: 126px;
}

.clearfix {
  display: block;
}

#footer_menu {
  display: flex;
  justify-content: center;
}

#footer_menu ul, ol {
  list-style: none;
  display: block;
}

#footer_menu a {
  text-decoration: none;
}

#footer_menu li {
  text-align: left;
  padding: 0 20px;
}

.menu_name {
  color: #E0866B;
  line-height: 2em;
  font-size: 18px;
}
