@media screen and (min-width: 1300px){
    .is_pc {
        display: block!important;
        visibility: visible;
    }
}
@media screen and (max-width: 1300px){
    .is_pc {
        display: none!important;
        visibility: hidden;
    }
}

header {
    width: 100%;
    background: rgba(255,255,255,0.95);
    position: fixed;
    z-index: 999;
}

header h1 {
    width: 140px;
    max-width: 140px;
    margin: 0.5rem auto 1.5rem;
}

header h1 a {
    width: 100%;
}

header h1 a img {
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
}

header .content .sns {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
}

header .reservation {
    position: absolute;
    right: 5px;
    top: 0;
    margin: 0;
    list-style: none;
}

header .reservation .tel_number {
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 1.5rem 0;
}

header .reservation .tel_number span {
    font-size: 1.3rem;
    position: relative;
    top: -3px;
}

header .reservation .number{
    font-size: 1.8rem;
    position: relative;
    top: -3px;
}

header .header_menu .navi {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
}
header .navi > li {
    padding: 2px;
}
header .navi > li > a {
    display: block;
    padding: 8px;
    font-size: 1.2rem;
    color: inherit;
    letter-spacing: 5px;
}
