@media screen and (min-width: 1300px){
    .is_pc {
        display: block!important;
        visibility: visible;
    }
}
@media screen and (max-width: 1300px){
    .is_pc {
        display: none!important;
        visibility: hidden;
    }
}

body {
    width: auto;
}

header h1 {
    width: 140px;
    max-width: 140px;
    margin: 0.5rem auto 1.5rem;
}

header h1 a {
    width: 100%;
}

header h1 a img {
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
}

.header_contact  .menu_reservation {
    position: absolute;
    right: 5px;
    top: 0;
    margin: 0;
    list-style: none;
}

.menu_reservation .tel_number {
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 1.5rem 0;
}

.menu_reservation .tel_number span {
    font-size: 1.3rem;
    position: relative;
    top: -3px;
}

.menu_reservation .tel_number .tel1{
    font-size: 1.8rem;
    position: relative;
    top: -3px;
}

.header_contact .social_nav {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.social_nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
}

.header_menu .g_nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
}
.g_nav > li {
    padding: 2px;
}
.g_nav > li > a {
    display: block;
    padding: 8px;
    font-size: 1.2rem;
    color: inherit;
    letter-spacing: 5px;
}
