@charset "UTF-8";

.content_top {
    height: 400px;
}

hr {
    display: block;
    border-top: 1px solid #d4d4d4;
}

/*記事*/

#content {
    padding: 80px 0;
}

#content .section_title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

#content .info {
    display: flex;
    flex-direction: row-reverse;
}

#content .info2 {
    margin-top: 30px;
    margin-left: 20px;
}

#content .info2 p {
    text-align: left;
    padding-left: 50px;
}

#content .info2_link {
    margin-top: 50px;
}

#content  .button03 a {
    background-color: #ecf8fa;
}


/*記事3*/
#content3 .container {
    padding: 80px 50px;
}

#content3 .message-title {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 100px;
    text-align: center;
}

#content3 .message-container {
    display: flex;
    justify-content: center;
}

#content3 .img-responsive {
    display: block;
    width: 300px;
    height: 300px;
}

#content3 .president-name {
    font-size: 1.9rem;
    line-height: 1.8;
    text-align: center;
    padding-top: 3rem;
}

#content3 .message-content {
    padding-left: 50px;
    line-height: 1.8;
    width: 600px;
}

#content3 .message-content p {
    font-size: 1.5rem;
    text-align: left;
}

#content3 .button03 a {
    background-color: #ecf8fa;
    margin-top: 55px;
}

/*店舗情報*/

#location {
    padding: 80px 0;
    background-color: #f9f8f4;
}

#location .section_title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 60px;
}

#location .ginza-container {
    display: grid;
    grid-template-columns: 600px 450px;
    grid-template-rows: 450px 450px;
}

#location .ginza-grid-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#location ul {
    flex-flow: column;
    padding: 0 5%;
    letter-spacing: 7px;
    list-style: none;
}


#location .access-info p {
    text-align: left;
    font-size: 1.4rem;
    line-height: 2.5;
    margin-top: 0;
    margin-bottom: 30px;
}

#location .access-info a {
    background: #ccc;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 180px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    line-height: 16px;
    font-size: 16px;
}
