@charset "UTF-8";

.content_top {
    height: 400px;
}

hr {
    display: block;
    border-top: 1px solid #d4d4d4;
}

/*記事*/

#content {
    padding: 80px 0;
    background-color: #f9f8f4;
}

#content h1{
    font-size: 30px;
    text-align: center;
    color: #d4ab37;
    margin-bottom: 50px;
}

#content .info {
    display: flex;
    flex-direction: row-reverse;
}

#content .info2 {
    margin-top: 30px;
    margin-left: 20px;
}

#content .info2_link {
    margin-top: 50px;
}


/*記事1*/

#content1 {
    margin-top: 80px;
    margin-bottom: 80px;
}

#content1 h1 {
    font-size: 30px;
    text-align: center;
    color: #d4ab37;
}

#content1 .image1 img {
    width: 360px;
    height: 240px;
}

.content1_list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content1_box {
    width: 30%;
    margin-top: 50px;
}

.info1 {
    color: #E0866B;

    font-size: 22px;
}

.info2 p {
    line-height: 250%;
}

.info2_link a {
    background: #ccc;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 180px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    line-height: 16px;
    font-size: 16px;
}


/*記事3*/
#content3 .container {
    border: 3px solid #bedf7a;
    border: 3px solid #ffffcf;
    background-color: #f5f7f2;
    background-color: #f9f8f4;
    padding: 80px 50px;
}

#content3 .message-title {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 40px;
    text-align: center;
}

#content3 .message-container {
    display: flex;
    justify-content: center;
}

#content3 .img-responsive {
    display: block;
    width: 300px;
    height: 300px;
}

#content3 .president-name {
    font-size: 1.9rem;
    line-height: 1.8;
    text-align: center;
    padding-top: 3rem;
}

#content3 .message-content {
    padding-left: 50px;
    line-height: 1.8;
    width: 600px;
}

#content3 .message-content p {
    font-size: 1.5rem;
    text-align: left;
}

/*店舗情報*/

#location {
    padding: 80px 0;
}

#location h1 {
    font-size: 30px;
    text-align: center;
    color: #d4ab37;
    padding-bottom: 60px;
}

#location .ginza-container {
    display: grid;
    grid-template-columns: 600px 450px;
    grid-template-rows: 450px 450px;
}

#location .access-info p {
    text-align: left;
}
